<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Создана</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="vacancy: ${vacancies}">
        <td th:text="${vacancy.id}" />
        <td th:text="${vacancy.title}" />
        <td th:text="${#temporals.format(vacancy.creationDate, 'MMMM dd HH:mm')}" />
      </tr>
      </tbody>
    </table>
  </div>
</div>
<footer th:include="blocks/footer :: footer"></footer>
</body>
</html>